--extra-index-url https://download.pytorch.org/whl/cpu
Django==5.1.7
gunicorn
asgiref
whitenoise
python-dotenv
faiss-cpu
sentence-transformers
torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchaudio==2.6.0+cpu
transformers
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
langsmith
google-generativeai
google-genai
streamlit
pandas
numpy
scikit-learn
SQLAlchemy
Jinja2
requests
httpx
pydantic
pydantic-settings
PyYAML
tqdm
pillow
